* {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0;
	padding: 0;
	background-color: #2f3947;
}
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
   margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

.border-primary {
    border: 2px solid blue;
}

.border-success {
    border: 2px solid green;
}

.border-secondary {
    border: 2px solid gray; /* You can adjust the default color as needed */
}

.border-warning {
    border: 2px solid yellow;
}

/* card-body should have a fixed height */
.card-body {
	height: 250px;
}