* {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

.border-primary {
    border: 4px solid blue;
}

.border-success {
    border: 4px solid green;
}

.border-secondary {
    border: 4px solid gray; /* You can adjust the default color as needed */
}

.border-warning {
    border: 4px solid yellow;
}

body {
	background-color: white;
}

.card {
	--bs-card-bg: rgba(255, 255, 255, 1);
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.form-control{
	background-color:white;
	color:black;
}

.table{
	background-color:white;
	color:black;
}
.tr{
	background-color:white;
	color:black;

}
.td{
	background-color:white;
	color:black;
}

.btn-primary{
	--bs-btn-color: rgba(33, 37, 41, 1);
}

/* Dark theme styles */
body.dark-theme {
	background-color: rgba(33, 37, 41, 1);
}

body.dark-theme .card {
	--bs-card-bg: rgba(33, 37, 41, 1);
}

body.dark-theme a:link {
	color: white;
}

body.dark-theme {
	color:white;
}

.btn-primary.dark-theme{
	--bs-btn-color: rgb(255, 255, 255);
}

.form-control.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}

.table.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}
.tr.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}
.td.dark-theme{
	background-color:rgba(33, 37, 41, 1);
	color:white;
}
a:visited.dark-theme {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }