{% extends 'layout.html' %}

{% block head_content %}
<title>{{ channel_name }} - Clips ({{ data|length }})</title>
<link rel="icon" href={{ channel_image }} type="image/x-icon">
<meta property="og:title" content="{{ channel_name }} - Clips ({{ data|length }})" />
<meta property="og:description" content="Clips from {{ channel_name }}'s stream" />
<meta property="og:image" content="{{ channel_image }}" />
{% endblock %}

{% block content %}
<center>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ channel_name }} - Clips ({{ data|length }})</h1>
            </div>
        </div>
        <a href="/cs/{{channel_id}}"> <button type="button" class="btn btn-primary">Stats for {{channel_name}}</button></a>
        <div class="row">
            <div class="col-md-12">
                <h2>Raw Data</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="raw_data" rows="3"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Simplified String</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="raw_string_data" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Filter by Level:</h2>
                <select id="filter" class="form-control">
                    <option value="all">All Levels</option>
                    <option value="owner">Owner</option>
                    <option value="moderator">Moderator</option>
                    <option value="subscriber">Subscriber</option>
                    <option value="regular">Regular</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" id="prev-page">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" id="next-page">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <h2>Seperate streams</h2>
        <label class="switch">
            <input type="checkbox" id="iview" checked="checked">
            <span class="slider round"></span>
        </label>
        <div class="row">
            <div class="col-md-12">
                <h2>Search</h2>
                <input type="text" id="search" class="form-control" placeholder="Search for clips...">
            </div>
        </div>

        <div class="row" id="clips-container">
            <!-- Clips will be dynamically added here using JavaScript -->
        </div>
    </div>
</center>
<script>
    var data = {{ data|tojson }};
    var channel_name = "{{ channel_name }}";
    var channel_image = "{{ channel_image }}";
    var filter = "all";  // Default filter option
    var clipsPerPage = 50;
    var currentPage = 1;
    var iview = true;

    document.getElementById("iview").addEventListener("click", function () {
        if (iview == true) {
            iview = false;
        } else {
            iview = true;
        }
        updateClips();
    });
    document.getElementById("search").addEventListener("keyup", function () {
        currentPage = 1; // Reset to the first page when the search changes
        updateClips();
    });

    document.getElementById("filter").addEventListener("change", function () {
        filter = this.value;
        currentPage = 1; // Reset to the first page when the filter changes
        updateClips();
    });

    document.getElementById("prev-page").addEventListener("click", function (e) {
        e.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            updateClips();
        }
    });

    document.getElementById("next-page").addEventListener("click", function (e) {
        e.preventDefault();
        var maxPage = Math.ceil(data.length / clipsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            updateClips();
        }
    });

    document.getElementById("raw_data").value = JSON.stringify(data, null, 2);
    document.getElementById("raw_string_data").value = {{ clips_string|tojson }};
    function updateClips() {
        var container = document.getElementById("clips-container");
        var search = document.getElementById("search").value.toLowerCase();
        var filteredData = data.filter(function (clip) {
            return clip['message'].toLowerCase().includes(search) || clip['author']['name'].toLowerCase().includes(search);
        });
        container.innerHTML = "";
        var startIndex = (currentPage - 1) * clipsPerPage;
        var endIndex = startIndex + clipsPerPage;
        var displayedClips = filteredData.slice(startIndex, endIndex);
        var last_id = displayedClips[0]['stream_id'];
        displayedClips.forEach(function (clip) {
            if (filter == 'all' || clip['author']['level'] == filter) {
                if(clip['stream_id'] != last_id && iview == true) {
                    // Add a separator between clips from different streams
                    var separatorHtml = `<div class="col-md-12">`;
                    separatorHtml += `<hr>`;
                    separatorHtml += `</div>`;
                    container.innerHTML += separatorHtml;
                    last_id = clip['stream_id'];
                }
                if(clip['discord']['ss_link']){
                    thumbnail = clip['discord']['ss_link'];
                }
                else{
                    thumbnail = `https://i.ytimg.com/vi/${clip['stream_id']}/sddefault.jpg`;
                }
                var cardHtml = `<div class="col-md-4 col-lg-3">`;
                cardHtml += `<div class="card ${getBorderStyle(clip['author']['level'])}" style="width: 100%;">`;
                cardHtml += `<a href="${clip['link']}" target="_blank">`;
                cardHtml += `<img class="card-img-top" src="${thumbnail}"" alt="Card image cap">`;
                cardHtml += `</a>`;
                cardHtml += `<div class="card-body">`;
                cardHtml += `<a href="${getUserChannelLink(clip['author']['id'])}" target="_blank">`;
                cardHtml += `<h5 class="card-title">${getAuthorTitle(clip['author']['level'])} ${clip['author']['name']}</h5>`;
                cardHtml += `</a>`;
                cardHtml += `<p class="card-text">${clip['id']}</p>`;
                cardHtml += `<a href="${clip['link']}" target="_blank">`;
                cardHtml += `<p class="card-text">${clip['message']}</p>`;
                cardHtml += `<p class="card-text">${clip['hms']}</p>`;
                cardHtml += `</a>`;
                cardHtml += `</div>`;
                cardHtml += `</div>`;
                cardHtml += `</div>`;
                container.innerHTML += cardHtml;
            }
        });
    }
    function getUserChannelLink(authorId) {
        return `https://www.youtube.com/channel/${authorId}`;
    }

    function getBorderStyle(level) {
        switch (level) {
            case 'moderator':
                return 'border-primary';
            case 'subscriber':
                return 'border-success';
            case 'owner':
                return 'border-warning';
            default:
                return 'border-secondary';
        }
    }

    function getAuthorTitle(level) {
        switch (level) {
            case 'owner':
                return '{{ owner_icon }}';
            case 'moderator':
                return '{{ mod_icon }}';
            case 'subscriber':
                return '{{ subscriber_icon }}';
            case 'regular':
                return '{{ regular_icon }}';
            default:
                return '';
        }
    }

    // Initial update when the page loads
    updateClips();
</script>
{% endblock %}