{% extends 'layout.html' %}

{% block head_content %}
<title>{{ channel_name }} - Clips ({{ data|length }})</title>
<link rel="icon" href={{ channel_image }} type="image/x-icon">
<meta property="og:title" content="{{ channel_name }} - Clips ({{ data|length }})" />
<meta property="og:description" content="Clips from {{ channel_name }}'s stream" />
<meta property="og:image" content="{{ channel_image }}" />
{% endblock %}

{% block content %}
<div class="container">
    <center>
        <div class="row">
            <div class="col-md-12">
                {% if channel_id == 'all'%}
                <h1>{{ channel_name }} - Clips ({{ data|length }})</h1>
                {% else %}
                <a href = "https://youtube.com/channel/{{ channel_id }}">
                <img src="{{ channel_image }}" alt="{{ channel_name }}" class="rounded-circle" style="width: 200px; height: 200px;">
                <h1> {{ channel_name }} - Clips ({{ data|length }})</h1></a>
                {% endif %}
                {% if channel_id != 'all'%}
                </a>
                {% endif %} 
            </div>
        </div>
        <a href="/cs/{{channel_id}}"> <button type="button" class="btn btn-primary">Stats</button></a></br></br>
        <!--
        <div class="row">
            <div class="col-md-12">
                <h2>Raw Data</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="raw_data" rows="3"></textarea>
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-12">
                <h2>Simplified String</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea readonly class="form-control" id="raw_string_data" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Filter by Level:</h2>
                <select id="filter" class="form-control">
                    <option value="all">All Levels</option>
                    <option value="everyone">Everyone</option>
                    <option value="moderator">Moderator</option>
                    <option value="owner">Owner</option>
                    <option value="regular">Regular</option>
                    <option value="subscriber">Subscriber</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" id="prev-page">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" id="next-page">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item" id="invert-page">
                            <a class="page-link" href="#" aria-label="Invert">
                                <span aria-hidden="true">↑↓</i></span>
                            </a>
                        </li>
                    </ul>
                    <p>Page <span id="current-page">1</span>/<span id="total-page"></span> </br>
                    (<span id="total-clips"></span>)</p>
                </nav>
            </div>
        </div>
        <h2>Seperate streams</h2>
        <label class="switch">
            <input type="checkbox" id="iview" checked="checked">
            <span class="slider round"></span>
        </label>
        <div class="row">
            <div class="col-md-12">
                <h2>Search</h2>
                <input type="text" id="search" class="form-control search" placeholder="Search for clips...">
            </div>
        </div>
    </center>
        <div class="row" id="clips-container">
            <!-- Clips will be dynamically added here using JavaScript -->
        </div>
    </div>
    </div>
</center>
</div>
</center>
<script>
    var inverted = false;
    var maxPage = 0;
    var data = {{ data|tojson }};
    var channel_name = "{{ channel_name }}";
    var channel_image = "{{ channel_image }}";
    var filter = "all";  // Default filter option
    var clipsPerPage = 50;
    var currentPage = 1;
    var iview = true;
    if(channel_name="all"){
        iview = false;
        document.getElementById("iview").checked = iview;
    }

    document.getElementById("iview").addEventListener("click", function () {
        if (iview == true) {
            iview = false;
        } else {
            iview = true;
        }
        updateClips();
    });
    document.getElementById("search").addEventListener("keyup", function () {
        currentPage = 1; // Reset to the first page when the search changes
        updateClips();
    });

    document.getElementById("filter").addEventListener("change", function () {
        filter = this.value;
        currentPage = 1; // Reset to the first page when the filter changes
        updateClips();
    });

    document.getElementById("prev-page").addEventListener("click", function (e) {
        e.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            updateClips();
        }
    });

    document.getElementById("next-page").addEventListener("click", function (e) {
        e.preventDefault();
        if(maxPage==0){
            maxPage = Math.ceil(data.length / clipsPerPage);
        }
        if (currentPage < maxPage) {
            currentPage++;
            updateClips();
        }
    });

    document.getElementById("invert-page").addEventListener("click", function (e) {
        e.preventDefault();
        if (inverted) {
            inverted = false;
        } else {
            inverted = true;
        }
        currentPage = 1; // Reset to the first page when the filter changes
        updateClips();
    });
    

    //document.getElementById("raw_data").value = JSON.stringify(data, null, 2);
    document.getElementById("raw_string_data").value = {{ clips_string|tojson }};
    function updateClips() {
        var container = document.getElementById("clips-container");
        var search = document.getElementById("search").value.toLowerCase();
        var filteredData = data.filter(function (clip) {
            return clip['message'].toLowerCase().includes(search) || clip['author']['name'].toLowerCase().includes(search) || clip['id'].toLowerCase().includes(search);
        });
        if (inverted) {
            filteredData = filteredData.reverse();
        }
        container.innerHTML = "";
        var startIndex = (currentPage - 1) * clipsPerPage;
        var endIndex = startIndex + clipsPerPage;
        var displayedClips = filteredData.slice(startIndex, endIndex);
        if(displayedClips[0]){
            var last_id = displayedClips[0]['stream_id'];
        }
        else{
            var last_id= null;
        }
        if(document.body.classList.contains("dark-theme")){
            a_class = "dark-theme"
        }
        else{
            a_class = ""
        }
        displayedClips.forEach(function (clip) {
            if (filter == 'all' || clip['author']['level'] == filter) {
                if(clip['stream_id'] != last_id && iview == true) {
                    // Add a separator between clips from different streams
                    var separatorHtml = `<div class="col-md-12">`;
                    separatorHtml += `<hr>`;
                    separatorHtml += `</div>`;
                    container.innerHTML += separatorHtml;
                    last_id = clip['stream_id'];
                }
                if(clip['discord']['ss_link']){
                    thumbnail = clip['discord']['ss_link'];
                }
                else{
                    thumbnail = `https://i.ytimg.com/vi/${clip['stream_id']}/sddefault.jpg`;
                }
                var is_checked = localStorage.getItem(clip['id']) ? 'true' : '';
                var cardHtml = `<div class="col-md-4 col-lg-3">`;
                cardHtml += `<div class="card ${getBorderStyle(clip['author']['level'])}" style="width: 100%;">`;
                cardHtml += `<a href="${clip['link']}" target="_blank" class=${a_class}>`;
                cardHtml += `<img class="card-img-top" src="${thumbnail}" alt="Card image cap" onerror="this.src='https://i.ytimg.com/vi/${clip['stream_id']}/sddefault.jpg';">`
                cardHtml += `</a>`;
                cardHtml += `<center>${clip['id']}</center>`;
                cardHtml += `<div class="card-body">`;
                cardHtml += `<a href="${getUserChannelLink(clip['author']['id'])}" target="_blank" class=${a_class}>`;
                cardHtml += `<h5 class="card-title"><i class="fa-solid fa-user"></i>${getAuthorTitle(clip['author']['level'])} ${clip['author']['name']}</h5>`;
                cardHtml += `</a>`;
                cardHtml += `<a href="${clip['link']}" target="_blank" class=${a_class}>`;
                cardHtml += `<p class="card-text"><i class="fa-solid fa-clipboard-list"></i> ${clip['message']} </br>`;
                cardHtml += `<i class="fa-solid fa-clock"></i> At ${clip['hms']} (+${clip['delay']*-1}s)</br>`;
                cardHtml += `<i class="fa-solid fa-clock-rotate-left"></i> ${timeSince(new Date(clip['time']))}</p>`;
                cardHtml += `</a>`;
                /*
                cardHtml += `<a href="${clip['download_link']}">`;
                cardHtml += `<i class="fa-solid fa-download"></i>`;
                cardHtml += `</a>`;
                */ 
                cardHtml += `</div>`;
                cardHtml += `<div class="card-footer checkbox-wrapper-2"><input type="checkbox" class="sc-gJwTLC ikxBAC" id=${clip['id']} value=${clip['id']} onclick='handleClick(this);' `
                cardHtml += is_checked ? 'checked' : '';
                cardHtml += `>`
                cardHtml += `</div>`;
                cardHtml += `</div>`;
                container.innerHTML += cardHtml;
            }
        });
        maxPage = Math.ceil(filteredData.length / clipsPerPage);
        document.getElementById("current-page").innerHTML = currentPage;
        document.getElementById("total-page").innerHTML = maxPage;
        end = endIndex > filteredData.length ? filteredData.length : endIndex;
        document.getElementById("total-clips").innerHTML = `${startIndex + 1}-${end} of ${filteredData.length}`;
    }
    function getUserChannelLink(authorId) {
        return `https://www.youtube.com/channel/${authorId}`;
    }

    function getBorderStyle(level) {
        switch (level) {
            case 'moderator':
                return 'border-primary';
            case 'subscriber':
                return 'border-success';
            case 'owner':
                return 'border-warning';
            default:
                return 'border-secondary';
        }
    }

    function getAuthorTitle(level) {
        switch (level) {
            case 'owner':
                return '{{ owner_icon }}';
            case 'moderator':
                return '{{ mod_icon }}';
            case 'subscriber':
                return '{{ subscriber_icon }}';
            case 'regular':
                return '{{ regular_icon }}';
            default:
                return '';
        }
    }

    function handleClick(cb){
        if(cb.checked){
            localStorage.setItem(cb.id, true);
        }
        else{
            localStorage.removeItem(cb.id);   
        }
    }

    // Initial update when the page loads
    updateClips();
</script>
{% endblock %}