{% extends 'layout.html' %}


{% block head_content%}
<title> {{ channel_name }} - Clips ({{data|length}}) </title>
<link rel="icon" href={{channel_image}} type="image/x-icon">
<meta property="og:title" content="{{ channel_name }} - Clips ({{data|length}})" />
<meta property="og:description" content="Clips from {{ channel_name }}'s stream" />
<meta property="og:image" content="{{ channel_image }}" />
{% endblock %}

{% block content %}
<center>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ channel_name }} - Clips ({{data|length}})</h1>
            </div>
        </div>
        <!-- text saying Raw Data-->
        <div class="row">
            <div class="col-md-12">
                <h2>Raw Data</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="raw_data" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Simplified String</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" id="raw_string_data" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for clip in data %}
            <div class="col-md-4 col-lg-3">
                <a href="{{ clip['link'] }}" target="_blank">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="https://i.ytimg.com/vi/{{ clip['stream_id'] }}/sddefault.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-text"> {{ clip['id'] }} </h6>
                            <h5 class="card-title">{{ clip['author']['name'] }}</h5>
                            <p class="card-text">{{ clip['message'] }} </p>
                            <p class="card-text">{{ clip['hms'] }} </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</center>
<script>
    var data = {{ data|tojson }};
    var channel_name = "{{ channel_name }}";
    var channel_image = "{{ channel_image }}";
    var clips_string = {{ clips_string|tojson }};
    document.getElementById("raw_data").value = JSON.stringify(data, null, 2);
    document.getElementById("raw_string_data").value = clips_string;
</script>
{% endblock %}