{% extends 'layout.html' %}


{% block head_content%}
<title> StreamSnip </title>
{% set channel_names = [] %}
{% for channel in data[:10] %}
    {% set _ = channel_names.append(channel['name']) %}
{% endfor %}
{% set channel_names_str = channel_names|join(', ') %}
<meta property="og:image" content="/static/logo.svg" />
<meta name="twitter:title" content="StreamSnip">
<meta name="twitter:description" content="A way for streamers to clip stuff with single nightbot command. used mainly in IGC 
{{channel_names_str}}">
<meta name="twitter:image" content="/static/logo.svg">
<meta property="og:description" content="A way for streamers to clip stuff with single nightbot command. used mainly in IGC 
{{channel_names_str}}" />
{% endblock %}

{% block content %}
<center>
    <div class="container">
        <div class="row">
            {% for channel in data %}
            <div class="col-md-4 col-lg-3">
                <a href = "{{ channel['link'] }}" target="_blank">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="{{channel['image']}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ channel['name'] }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</center>
<script>
    var data = {{ data|tojson }};
</script>
{% endblock %}
